
table {
    font-family: arial, sans-serif;
    border-collapse: 4px solid black ;
    width: 50%;
    color: black;

  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
    color: green;
  }
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
    color: rgb(15, 119, 15);
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }